body{
    background-color: #222;
    color: white;
}
.text-center{
    text-align: center;
}
#messagearea{
    position: fixed;
    bottom: 0;
    padding: 0.8vw;
    width: 100%;
    text-align: center;
}
#message{
    width: 80%;
    color: #222;
}
#chatarea{
    padding: 0 20%;
    height: 80%;
    width: 60%;
    position: absolute;
    overflow-y: scroll;
}
#logout{
    margin: 0.5vw;
}
a, a:active, a:visited{
    color: white;
}
button{
    color: white;
}
input[type=text], input[type=password]{
    color: #222;
}